$min-screen-xl: 1920px;

$max-screen-lg: 1919.98px;
$min-screen-lg: 1440px;

$max-screen-md: 1439.98px;
$min-screen-md: 1024px;

$max-screen-sm: 1023.98px;
$min-screen-sm: 768px;

$max-screen-xs: 767.98px;

/*

@media (min-width: $min-screen-xl) {
    
}

@media (min-width: $min-screen-lg) and (max-width: $max-screen-lg) {
    
}

@media (min-width: $min-screen-md) and (max-width: $max-screen-md) {

}

@media (min-width: $min-screen-sm) and (max-width: $max-screen-sm) {
    
}

@media (max-width: $max-screen-xs) {
    
}

*/