.scrollable {
    height: 100%;
    overflow-y: hidden;
}

.scrollable::-webkit-scrollbar {
    width: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
}


.slider {
    height: 100%;
    overscroll-behavior: none;
}